<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.center{
        text-align: center;
}

.text-contract{
	text-align:justify;
}
</style>
</head>
<body>

<h3 class='center'><b>
    Contrato de {{CONT_TITLE}} 
</b></h3>
<h3 class='center'><b>
    No. {{CONT_ID}} de {{CONT_YEAR}}
</b></h3>

<table>
  <tr>
    <td><b>Nombre del empleador</b></td>
    <td>{{BIZ_NAME}}</td>
  </tr>
  <tr>
    <td><b>Representante Legal</b></td>
    <td>{{REPLEG_NAME}}</td>
  </tr>
  <tr>
    <td><b>Identificación CC. No.</b></td>
    <td>{{REPLEG_ID}} de {{REPLEG_ID_ISS}}</td>
  </tr>
  <tr>
    <td><b>Nombre del trabajador</b></td>
    <td>{{CAND_NAME}}</td>
  </tr>
  <tr>
    <td><b>Teléfono No.</b></td>
    <td>{{CAND_PHONE}}</td>
  </tr>
  <tr>
    <td><b>Correo electrónico</b></td>
    <td>{{CAND_EMAIL}}</td>
  </tr>
  <tr>
    <td><b>Cargo</b></td>
    <td>{{JOB_POSITION}}</td>
  </tr>
  <tr>
    <td><b>Salario</b></td>
    <td>{{BASE_SALARY}}</td>
  </tr>
  <tr>
    <td><b>Fecha de inicio contrato</b></td>
    <td>{{CONT_YEAR}}</td>
  </tr>
</table>

<div class='text-contract'>
<p>
  En   el   Distrito   Especial,   Industrial   y   Portuario   de   Barranquilla   se
reunieron, por una parte, el Representante Legal del empleador, quien
en adelante en este documento se denominará {{EMPLOYER_ALIAS}},
y por la otra parte, {{EMPLOYEE_ALIAS}}, ambos mayores de edad e
identificados como ya se anotó, para suscribir el siguiente CONTRATO
DE {{CONT_TITLE}},   regido   por   las   siguientes   clausulas:
PRIMERA.LUGAR:  EL TRABAJADOR desarrollará sus funciones en las
instalaciones   de  {{EMPLOYER_ALIAS}}.   Sin   embargo,   podrá
desarrollarla   en   cualquiera   de   las   dependencias   en   la   que   ésta
determine. Cualquier modificación al lugar de trabajo, que signifique
cambio   de   ciudad,   se   hará   conforme   a  lo  establecido   en   el  Código
Sustantivo   de   Trabajo.  SEGUNDA. FUNCIONES:  {{EMPLOYER_ALIAS}}  contrata      {{EMPLOYEE_ALIAS}}   en   el   cargo   de  {{JOB_POSITION}} 
con el propósito fundamental de que desarrolle la
planificación, dirección, supervisión y control de todas las actividades
desarrolladas   en   el   área   de   Cirugía   de  {{EMPLOYER_ALIAS}},   así
mismo   será   responsable   de   cumplir   a   cabalidad   con   las   funciones
contenidas en el MANUAL DE FUNCIONES el cual hará parte integral del
presente contrato como Anexo Uno.   PARÁGRAFO 1: Las funciones
descritas   en   el   MANUAL   DE   FUNCIONES,   no   excluye   ni   limita   a  {{EMPLOYEE_ALIAS}} para ejecutar labores conexas complementarias,
asesorías o similares y en general aquellas ... ... ...
</p>

<p>
  Para constancia se firma por las partes en el Distrito Especial, Industrial
y Portuario de la ciudad de Barranquilla, a los quince (15) días del mes
de septiembre de {{CONT_YEAR}}.
</p>


<p>
{{EMPLOYER_ALIAS}},
</p>

<p>
{{REPLEG_NAME}}  
Representante Legal
</p>




<p>
{{EMPLOYEE_ALIAS}},
</p>



<p>
{{CAND_NAME}}
{{CAND_DOCTYPE}} No. {{CAND_DOCNUM}} de {{CAND_DOC_ISS}}
</p>

</p>
</div>
</body>
</html>